<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    #wpbody-content{
        padding-bottom:10px;
    }
    .dataTables_wrapper .dataTables_length select{
      width:50px;
    }
    #wpfooter {
      position:relative;
    }
  </style>
  
  <body>
    {{{body}}}
  </body>
</html>
